In [1]:
import numpy as np 
import pandas as pd

In [3]:
df1 = pd.DataFrame(np.arange(1, 11))
df2 = pd.DataFrame(np.arange(2, 20))

In [10]:
df = pd.merge(df1, df2)
df

    0
0   2
1   3
2   4
3   5
4   6
5   7
6   8
7   9
8  10