In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'ProductName': ['Bulb', 'Bulb', 'Fan', 'Fan'], 
                   'Type': ['A', 'B', 'A', 'A'], 
                   'EC': [400, 300, 250, 300]})

In [4]:
df

  ProductName Type   EC
0        Bulb    A  400
1        Bulb    B  300
2         Fan    A  250
3         Fan    A  300

In [5]:
df.groupby('ProductName').sum()

            Type   EC
ProductName
Bulb          AB  700
Fan           AA  550

In [13]:
df.groupby([df.ProductName, df.Type]).sum()

                   EC
ProductName Type
Bulb        A     400
            B     300
Fan         A     550

In [17]:
name = {'a': 'alan', 'b': 'cindy', 'c': 'stacy', 'd': 'diana'}
vaccinated = {'a': True, 'b': False, 'c': False, 'd': True}
country = {'a': 'pakistan', 'b': 'china', 'c': 'china', 'd': 'pakistan'}

d = pd.DataFrame({'Name': name, 'Vaccinated': vaccinated, 'Country': country})
d

    Name  Vaccinated   Country
a   alan        True  pakistan
b  cindy       False     china
c  stacy       False     china
d  diana        True  pakistan

In [23]:
d.groupby('Country').sum()

                Name  Vaccinated
Country
china     cindystacy           0
pakistan   alandiana           2